$color-default-black: #000000;
$color-default-white: #ffffff;
$color-transparent: rgba(255, 255, 255, 0);
$color-elephant: #2d383f;
$color-navy-blue: #0266c1;
$lianer-gradient: linear-gradient(0deg, rgba(0, 0, 0, 0.6) 22.3%, rgba(0, 0, 0, 0) 60.32%);
$lianer-gradient-overlay: linear-gradient(112.1deg, rgba(15, 20, 41, 0.33) 17.23%, rgba(15, 20, 41, 0) 94.93%);
$fz-default: 16px;
$ff-rouble: "Rouble", "Arial", sans-serif;
$ff-placeholder: "Montserrat", "Arial", sans-serif;
$tf-default: ease;
$trans-default: 0.3s $tf-default;
$trans-modal: 0.6s cubic-bezier(0.55, 0, 0.1, 1);
$trans-600: 0.6s $tf-default;
$vp-768: 768px;
$vp-1200: 1200px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
